#contact .form .input cite{
  margin-top:   2px;
  font-style: normal;
}

#contact .form .error.input cite{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d73', endColorstr='#881133');
}

.column{
  -display: inline;
}

#contact .form .input{
  -padding-right: 10px;
}

#belt-left,#belt-right, #left-shadow, #right-shadow, #machine, #footer-logo,#form-close, #contact_us_now, #submit_form , #small_store, #large_store, #small_factory, #large_factory, #small_building, #large_building
{
  -behavior: url(/css/iepngfix.htc);
}
