html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, hgroup, p,
dl, dialog, dt, dd, ol, ul, li,
abbr, acronym, address, b, big, blockquote,
cite, code, del, dfn, em, i, ins, kbd, pre, q,
samp, tt, var, small, strong, sub, sup,
object, iframe, form, fieldset, label, legen/imagesd,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section,
figure, menu, time, mark, audio, video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  text-align: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  background: transparent; }

a:focus{outline: none}

textarea, input, select {
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0; }

html{
  background: black;
  font-family: Arial;
  font-weight: 400;
  color: #6c6f73;
}
a{
  color: #8e9195;
}

dl dt{
  float: left;
}
.clear {
  clear: both;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Myriad Pro","myriad-pro-1","myriad-pro-2",sans-serif;
}

h2{
  color: white;
  text-shadow: 0 2px 5px black;
}

#title{
  background: url(../images/menu_background.png) repeat-x;
  position: fixed;
  height: 73px;
  width: 100%;
  top: 0;
  z-index: 6;
}

#title h1{
  height: 18px;
  padding-top: 30px;
  display: block;
  position: static;
  width: 932px;
  margin: 0 auto;
  text-indent: -999em;
}

#logo{
  background: url(../images/logo.png) no-repeat;
  display: block;
  margin: 0 auto;
  width: 118px;
  height: 18px;
}

.business{
  background: url(../images/buildings_03.png);
  position: absolute;
  z-index: 4;
  top: 310px;
}
#large_business{
  background: url(../images/Large-Business.png) no-repeat;
  width: 192px;
  top: 300px;
  left: 0px;
  height: 111px;
  z-index: 4;
  position: absolute;
}
#machine_container{
  position: relative;
  left: 0px;
  background: url(../images/gen/images/backdrop.jpg) -95px top no-repeat;
  width: 1014px;
  height: 451px;
  margin: 0 auto;
  overflow: hidden;
}
#machine{
  background: url(../images/box.png);
  height: 191px ; 
  width: 208px ;
  position: absolute;
  left: 400px;
  top:  257px;
  z-index: 5;
}
#conveyor{
  background: url(../images/gen/images/conveyor.jpg) center no-repeat;
  width: 1014px;
  position: absolute;
  height: 87px;
  top: 365px;
  left: 0px;
}
#belt{
  height: 45px;
  width: 758px;
}
#belt-left{
  background: url(../images/belts-left.png) top center repeat-x;
  height: 59px;
  width: 498px;
  top: 0px;
  position: absolute;
  left: 0px;
}
#belt-right{
  background: url(../images/belts-right.png) top center repeat-x;
  height: 59px;
  width: 498px;
  top: 0px;
  position: absolute;
  left: 498px;
}
.fadeIn, .hidden{ 
  display: none
}
#green_glow {
  background: url(../images/green_glow.png);
  width: 516px;
  height: 196px;
  left: 246px;
  top: 224px;
  position: absolute;
}
#reflection{
  background: url(../images/gen/images/reflection.jpg) -20px top no-repeat;
  width: 1014px;
  margin: 0 auto;
  height: 245px;
  position: relative;
}
#left-shadow{
  background: url(../images/left-shadow.png) repeat-y;
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
#right-shadow{
  background: url(../images/right-shadow.png) repeat-y;
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}

::-webkit-input-placeholder {
  color: #313131;
}
:-moz-placeholder {
  color: #313131;
  font-weight: normal;
}
#contact #submit_form{
  background: url(../images/button-submit.png) no-repeat;
  width: 131px;
  height: 35px;
  text-indent: -999em;
  display: block;
  border:none;
  float: right;
  margin: 25px 145px 0px 0px;
}
#contact #submit_form:hover {
  background-position: 0px -35px;
}
#contact #submit_form:active {
  background-position: 0px -70px;
}
#contact{
  background: url(../images/form-background.jpg) -43px top no-repeat;
  height: 481px;
  width: 1014px;
  margin: 0 auto;
  display: none;
}
#contact_us_now{
  text-indent: -999em;
  background: url(../images/button-contact.png) no-repeat;
  width: 156px;
  height: 43px;
  display: block;
}
#contact_us_now:hover {
  background-position: 0px -43px;
}
#contact_us_now:active {
  background-position: 0px -86px;
}
.info, #contact .form {
}
.info dl dt{
  width: 55px;
  line-height: 17px;
  height: 22px;
}
.info dl dt.icon-phone{
  background: url(../images/icon-phone.gif) no-repeat;
  height:16px; 
  width:17px;
  text-indent: -999em;
}
.info dl dt.icon-fax{
  background: url(../images/icon-fax.gif) no-repeat;
  height:16px; 
  width:17px;
  text-indent: -999em;
}
.info dl {
  color:#b1b3b6;
  font-family:'Lucida Grande', arial, helvetica, sans-serif;
  font-size:13px;
  font-weight: bold;
}
.info dt {
    font-size:14px;
}
.info dd{
  margin-bottom: 10px;
}
.info dd a{
  color: white;
  text-decoration: none;
}
.info h1, #contact .info h3 {
  color: #AAAAAA;
  margin: 0;
}
.person {
  font-family:'Lucida Grande', arial, helvetica, sans-serif;
  font-size:14px;
  padding:8px 0;
  width:190px
  text-shadow: none;
}
.person h3 {
  font-size:16px;
  font-family:'Lucida Grande', arial, helvetica, sans-serif;
  text-shadow: none;
  margin-bottom: 2px;
}
.person cite{
  display: block;
  font-size:13px;
  color: #1a1b1a;
  text-shadow: none;
}
.person a {
    font-size:12px;
  color: #c1c3c0;
}
.pitch_catch{
  width: 750px;
  margin: 0 auto;
  padding-top: 60px;
}

.pitch{
  width: 400px;
  float: left;
  text-shadow: 0px 0px 2px black;
}
.catch{
  float: left;
  width: 250px;
  margin-left: 100px;
  text-shadow: 0px 0px 2px black;
}

h2{
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", Myriad Web", "Myriad", myriad-pro-1","myriad-pro-2",sans-serif;
  font-weight: 700px;
  margin-top: 18px;
  color: #a2ec71;
}
h4{
  font-size: 14px;
  font-weight: 400;
  text-shadow: 0px 0px 2px black;
  color: white;
}
.pitch h2{
  color: white;
}
.pitch p, .catch p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top:5px;
}
.pitch b{
  font-weight: 400px;
}
#contact .info{
  width: 250px;
  padding: 10px 0 40px 102px;
  float: left;
}
#contact .info .person {
  width:192px;
  padding:16px 0 20px 30px;
  border-bottom: 1px solid rgba(0,0,0,.3);
  border-top: 1px solid rgba(255,255,255,.1);
  background: rgba(0,0,0,.1);
}
#contact #contact-info {
    padding-left:32px;
}
.info #footer-logo{
  background: url(../images/form-logo.png) -4px 0 no-repeat;
  text-indent: -999em;
  height: 31px;
  width: 168px;
  margin-bottom:20px;
}
#contact .info ul{
  list-style: none;
  margin-top: 20px;
  padding-left:0;
  font-family:'Lucida Grande', arial, helvetica, sans-serif;
  font-size:12px;
  color: #abafab;
}
#contact .info ul li {
  margin:3px 0;
}
#contact .info .person h3 {
  color:#dcdfdc;
  -text-shadow:0 1px #595959;
  font-size:15px;
}
#contact .info .person cite {
  color:#8c8f8c;
  font-weight:normal;
    font-size:12px;
}
#contact .info .person a {
    color:#bbbfbb;
}
#contact .info .person a:hover {
    color:#cbcfcb;
    text-shadow:0 1px #444;
}
#contact .form{
  width: 550px;
  float: left;
  -display: inline;
  padding: 0px;
  margin-top: -5px;
}
#contact .form .input{
  float: left;
  -display: inline;
  height: 70px;
  width: 250px;
  padding-right: 25px;
  margin-bottom:18px;
}
#contact .form .input cite{
  font-size:11px;
  margin-top:6px;
  color: rgba(0,0,0,.8);
  padding:2px 9px;
  background:#5c5e61;
  -moz-border-radius-topleft:     4px;
  -moz-border-radius-topright:    4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius:         4px;
  border-top-right-radius:        4px;
  position: absolute;
  color: black;
  display: none;
  margin-top:    4px;
  margin-left: 130px;
}
#contact .form .error.input cite{
  color: white;
  background:#ff3d73;
  background: -moz-linear-gradient(top, #ff3d73, #881133);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff3d73), to(#881133));
}
#contact .form .input cite.error{
  display: none;
}
#fancy_holder{
  height: 700px;
}
#contact .form .error.input cite.error{
  display: block
}
#contact .form .error.input cite.normal{
  display: none;
}
#contact .form h2 {
  margin: 0 0 25px 0;
  color: white;
}
#contact .form form label{
  display: block;
  font-family:'Lucida Grande', arial, helvetica, sans-serif;
  text-shadow: 0 1px #111;
  margin-bottom:3px;
  padding-left:3px;
  font-size:14px;
  color:#8e9195;
}
#contact .form form input{
  width: 250px;
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background: #060606;
  border: 1px solid #393f41;
  color: #76797a;
  padding: 3px 5px;
}

#submit_form{
  text-indent: -999em;
  font-size: 0;
  display:block;
  line-height: 0;
}

#contact .form form .input.error input{
  border: 1px solid #881133;
}
#contact .form form textarea{
  border-radius: 7px;
  background: #060606;
  border: 1px solid #393f41;
  color: #76797a;
  width: 525px;
  height: 100px;
  padding: 1px 5px;
}
#form-close{
  display: block;
  float: right;
  margin-right: 70px;
  background: url(../images/form-close-tab.png) no-repeat;
  background-position: 0px 0px;
  width:50px;
  height:39px;
  text-indent: -999em;
  -moz-box-shadow: 0 2px 4px #000;
  -webkit-box-shadow: 0 2px 4px #000;
  box-shadow: 0 2px 4px #000;
  cursor:pointer;
}
#form-close:hover {
  background-position: 0px -39px;
}
#form-close:active {
  background-position: 0px -78px;
  -moz-box-shadow: 0 1px 2px #000;
  -webkit-box-shadow: 0 1px 2px #000;
  box-shadow: 0 1px 2px #000;
}
#footer{
  background: url(../images/footer.png) top center no-repeat;
  width: 984px;
  height: 400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-top: 20px;
  color: #7f7e7e;
}
.column{
  float: left;
  width: 290px;
}
.column.first{
  margin-left: 100px;
}
#footer ul{
  list-style: none;
  margin: 0 0 22px 0;
  padding: 0;
}
#footer ul li{
  font-size: 14px;
  line-height: 22px;
  font-family: "Myriad Pro","myriad-pro-1","myriad-pro-2",arial, helvetica, sans-serif;
  color:#505450;
}
#footer ul{
  list-style: none;
  margin: 0 0 22px 0;
  padding: 0;
}
#footer ul li{
  font-size: 14px;
  line-height: 22px;
  font-family: "Myriad Pro","myriad-pro-1","myriad-pro-2",arial, helvetica, sans-serif;
  color:#606460;
  letter-spacing:.02em;
}
#footer h2 {
  font-weight:normal;
  letter-spacing:.04em;
  color:#6fa15f;
}
#footer h4{
  color: #868b86;
  font-size:15px;
  margin:12px 0 3px 0;
  letter-spacing:.02em;
}
#footer ul#form-address {
  margin:20px 0 0 0;
  padding: 0px;
  font-size:15px;
}
#footer ul li{
  font-weight: normal;
}

#footer ul#form-address li{
  color: #848f84;
}
#footer .info{
  color: #677067;
}
#footer .person {
  margin:0;
}
#footer .info .person cite{
  color: #505450;
}
#footer .info .person a {
  color:#677067;
}
.organization{
  margin-left: 30px;
}

